{% extends "base.html" %}
{% block title %}Bibliothek Schött{% endblock %}
{% block content %}

<h1>Hallo {{ user }}</h1>

<div class="card shadow-lg p-5 rounded-4">
	<h2>Private Buch-Sammlung</h2>
	<a class="btn btn-primary btn-lg d-flex justify-content-between align-items-center overview-home-button" 
	href="{{ url_for('books.index') }}">
		zur Buch-Übersicht
		<!--add icon for big screens-->
		<i class="fas fa-arrow-right d-none d-sm-inline"></i>
    </a>
</div>

<div class="card shadow-lg p-5 rounded-4">
	<h2>Private Film-Sammlung</h2>
	<a class="btn btn-primary btn-lg d-flex justify-content-between align-items-center overview-home-button" 
	href="{{ url_for('movies.index') }}">
		zur Film-Übersicht 
		<!--add icon for big screens-->
		<i class="fas fa-arrow-right d-none d-sm-inline"></i>
	</a>
</div>

{% endblock %}