{% extends "base.html" %}
{% block title %}Bibliothek Schött{% endblock %}
{% block content %}
<!--Using Boostrap classes for styling here-->
<div class="jumbotron">
	<div class="container">
		<h1>Welcome {{ user }}</h1>
		<p>Private Bücherreiseite</p>
	</div>

	<div class="container">
		<a class="btn btn-primary btn-lg" href=" {{ url_for('books.index') }} ">Buch Übersicht</a>
		<a class="btn btn-primary btn-lg" href=" {{ url_for('books.book_add') }} ">Buch Anlegen</a>
	</div>
	<br>
	<div class="container">
		<a class="btn btn-primary btn-lg" href=" {{ url_for('movies.index') }} ">Film Übersicht</a>
		<a class="btn btn-primary btn-lg" href=" {{ url_for('movies.movies_add') }} ">Film Anlegen</a>
	</div>
</div>
{% endblock %}