{% extends "base.html" %}
{% block title %}Bibliothek Schött{% endblock %}
{% block content %}
<!--Using Boostrap classes for styling here-->
<div class="jumbotron">
	<div class="container">
		<h1>Welcome {{ user }}</h1>
		<p>Befülle hier deine private Bücherei!</p>
	</div>

	<div class="container">
		<div class="row g-3"> <!-- g-3 adds vertical and horizontal spacing -->
			<div class="col-12 col-md-6">
			<a class="btn btn-primary btn-lg w-100" href="{{ url_for('books.index') }}">Buch Übersicht</a>
			</div>
			<div class="col-12 col-md-6">
			<a class="btn btn-primary btn-lg w-100" href="{{ url_for('books.book_add') }}">Buch anlegen</a>
			</div>
			<div class="col-12 col-md-6">
			<a class="btn btn-primary btn-lg w-100" href="{{ url_for('movies.index') }}">Film Übersicht</a>
			</div>
			<div class="col-12 col-md-6">
			<a class="btn btn-primary btn-lg w-100" href="{{ url_for('movies.movies_add') }}">Film anlegen</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}