<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary mb-3">
    <div class="container-fluid">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href=" {{ url_for('core.index') }} ">
                <img
                  src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                  height="15"
                  alt="Home Logo"
                  loading="lazy" />
            </a>
	    	<a class="nav-text pr-2" href=" {{ url_for('books.index') }} ">Bücher: </a>
	    	<a class="nav-text pr-2" href=" {{ url_for('books.index') }} ">Übersicht</a>
	    	<a class="nav-text pr-2">/</a>
            <a class="nav-text pr-2" href=" {{ url_for('books.book_add') }} ">Anlege</a>
        </div>
    </div>
</nav>