{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}Bücher Anlegen{% endblock %}

{% block content %}
{% include 'books/book_breadcrumb.html' %}

<div class="jumbotron">
    <div class="container">
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('books.book_add') }}">
            <div class="row">
                <h1>Anlage eines Buches</h1>
            </div>

            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="isbn" class="col-md-4">ISBN</label>
                    <div class="col-md-8 input-group">
                        <input type="text" class="form-control" id="isbn" name="isbn" value="{{ form.isbn.data or '' }}" placeholder="ISBN eingeben">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="fetchBookData">🔎</button>
                        </div>
                    </div>
                </div>
                <div id="loadingSpinner" class=" spinner-border text-primary" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="url" class="col-md-4">Daten geholt von</label>
                    <div class="col-md-8 input-group">
                        <a type="text" class="form-control" id="url" name="url" placeholder="URL zur Infoseite"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="titel" class="col-md-4">Titel</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="titel" name="titel" rows="5" value="{{ form.titel.data or '' }}" placeholder="Titel"></textarea>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="bildName" class="col-md-4">Bild</label>
                    <div class="col-md-8">
                        <div class="mb-1">
                            <img id="bildCover" src="{{ url_for('static', filename=cover_filename) }}" alt="Book Image" class="img-fluid">
                        </div>
                        <div class="mb-1">
                            <input type="text" class="form-control" id="bildName" name="bildName" value="{{ form.bildName.data or '' }}" placeholder="Bild Name">
                        </div>
                        <div class="mb-1">
                            <input type="file" class="form-control form-control-sm pb-1" id="bildCoverInput" name="bildCoverInput" accept="image/*">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="autor" class="col-md-4">Autor</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="autor" name="autor" value="{{ form.autor.data or '' }}" placeholder="Autor">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="genre" class="col-md-4">Genre</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="genre" name="genre" value="{{ form.genre.data or '' }}" placeholder="Genre">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="format" class="col-md-4">Format</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="format" name="format" value="{{ form.format.data or '' }}" placeholder="Format">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="verlag" class="col-md-4">Verlag</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="verlag" name="verlag" value="{{ form.verlag.data or '' }}" placeholder="Verlag">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="seiten" class="col-md-4">Seiten Anzahl</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="seiten" name="seiten" value="{{ form.seiten.data or '' }}" placeholder="Seiten Anzahl">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="preis" class="col-md-4">Preis</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="preis" name="preis" step="0.01" value="{{ form.preis.data or '' }}" placeholder="Preis">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="jahr" class="col-md-4">Erscheinungsjahr</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="jahr" name="jahr" value="{{ form.jahr.data or '' }}" placeholder="Jahr">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="standort" class="col-md-4">Standort</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="standort" name="standort" value="{{ form.standort.data or '' }}" placeholder="Standort">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="subtitel" class="col-md-4">Subtitel</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="subtitel" name="subtitel" value="{{ form.subtitel.data or '' }}" placeholder="Subtitel">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="subgenreRomane" class="col-md-4">Subgenre Romane</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="subgenreRomane" name="subgenreRomane" value="{{ form.subgenreRomane.data or '' }}" placeholder="Subgenre Romane">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="subgenreSachbuchRatgeber" class="col-md-4">Subgenre Sachbuch/Ratgeber</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="subgenreSachbuchRatgeber" name="subgenreSachbuchRatgeber" value="{{ form.subgenreSachbuchRatgeber.data or '' }}" placeholder="Subgenre Sachbuch/Ratgeber">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="subgenreRatgeber" class="col-md-4">Subgenre Ratgeber</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="subgenreRatgeber" name="subgenreRatgeber" value="{{ form.subgenreRatgeber.data or '' }}" placeholder="Subgenre Ratgeber">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="auflage" class="col-md-4">Auflage</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="auflage" name="auflage" value="{{ form.auflage.data or '' }}" placeholder="Auflage">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="schlagw" class="col-md-4">Schlagwort</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="schlagw" name="schlagw" value="{{ form.schlagw.data or '' }}" placeholder="Schlagwort">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="bemerkungen" class="col-md-4">Bemerkungen</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="bemerkungen" name="bemerkungen" rows="5" value="{{ form.bemerkungen.data or '' }}" placeholder="Eigene Bemerkungen"></textarea>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="inhaltsangabe" class="col-md-4">Inhaltsangabe</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="inhaltsangabe" name="inhaltsangabe" rows="5" value="{{ form.inhaltsangabe.data or '' }}" placeholder="Inhaltsangabe des Buches"></textarea>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-6">
                    <button type="Einfügen" class="btn btn-primary btn-block">Buch Hinzufügen</button>
                </div>
                <div class="col-6">
                    <button id="clearButton" class="btn btn-danger btn-block">Clear Form</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="bookPreviewModal" tabindex="-1" role="dialog" aria-labelledby="bookPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookPreviewModalLabel">Buchdaten überprüfen</h5>
                <button type="button" class="ml-2 btn btn-primary" id="confirmBookData">Bestätigen</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="previewForm">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="previewTitel">Titel</label>
                            <textarea class="form-control" id="previewTitel" rows="5"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="previewBildText">Bild</label>
                            <input type="text" class="form-control" id="previewBildText">
                            <img id="previewCoverBild" src="" alt="Book Image" class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="previewAutor">Autor</label>
                            <input type="text" class="form-control" id="previewAutor">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="previewSeiten">Seiten Anzahl</label>
                            <input type="text" class="form-control" id="previewSeiten">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="previewGenre">Genre</label>
                            <input type="text" class="form-control" id="previewGenre">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="previewVerlag">Verlag</label>
                            <input type="text" class="form-control" id="previewVerlag">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="previewISBN10">ISBN-10</label>
                            <input type="text" class="form-control" id="previewISBN10">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="previewISBN13">ISBN-13</label>
                            <input type="text" class="form-control" id="previewISBN13">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="previewPreis">Preis</label>
                            <input type="number" class="form-control" id="previewPreis" name="previewPreis" step="0.01">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="previewJahr">Jahr</label>
                            <input type="number" class="form-control" id="previewJahr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="previewFormat">Format</label>
                            <input type="text" class="form-control" id="previewFormat">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="previewAuflage">Auflage</label>
                            <input type="text" class="form-control" id="previewAuflage">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="previewInhaltsangabe">Beschreibung</label>
                            <textarea class="form-control" id="previewInhaltsangabe" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="previewUrl">Fetched From</label>
                            <a id="previewUrl" class="form-control" style="height: auto;" href="#" target="_blank"></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ml-2 btn btn-primary" id="confirmBookDataFooter">Bestätigen</button>
            </div>
        </div>
    </div>
</div>

<script>
    function initializePreviewElements() {
        document.getElementById('previewTitel').value = '';
        document.getElementById('previewAutor').value = '';
        document.getElementById('previewGenre').value = '';
        document.getElementById('previewVerlag').value = '';
        document.getElementById('previewISBN10').value = '';
        document.getElementById('previewISBN13').value = '';
        document.getElementById('previewPreis').value = '';
        document.getElementById('previewFormat').value = '';
        document.getElementById('previewSeiten').value = '';
        document.getElementById('previewInhaltsangabe').value = '';
        document.getElementById('previewAuflage').value = '';
        document.getElementById('previewJahr').value = '';
        document.getElementById('previewBildText').value = '';
        document.getElementById('previewCoverBild').src = '';
        document.getElementById('previewUrl').innerText = '';
        document.getElementById('previewUrl').href = '#';
    }

    document.getElementById('fetchBookData').addEventListener('click', function() {
        initializePreviewElements();

        const isbn = document.getElementById('isbn').value;
        const loadingSpinner = document.getElementById('loadingSpinner');

        console.log('Fetching book data for ISBN:', isbn);
        if (isbn) {
            loadingSpinner.style.display = 'inline-block';

            fetch('/books/get_isbn_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ isbn: isbn })
            })
            .then(response => response.json())
            .then(data => {
            loadingSpinner.style.display = 'none';

                if (data.error) {
                    alert(`Error: ${data.error}`);
                } else {
                    console.log('Fetched book data:', data);
                    // Populate Modal fields
                    document.getElementById('previewTitel').value = data.Title || '';
                    document.getElementById('previewAutor').value = data.Autor || '';
                    document.getElementById('previewGenre').value = data.Genre || '';
                    document.getElementById('previewVerlag').value = data.Verlag || '';
                    document.getElementById('previewISBN10').value = data['ISBN-10'] || '';
                    document.getElementById('previewISBN13').value = data['ISBN-13'] || '';
                    document.getElementById('previewPreis').value = data.Preis || '';
                    document.getElementById('previewFormat').value = data.Einband || '';
                    document.getElementById('previewSeiten').value = data['laenge'] || '';
                    document.getElementById('previewInhaltsangabe').value = data['Beschreibung'] || '';
                    document.getElementById('previewAuflage').value = data.Auflage || '';
                    document.getElementById('previewJahr').value = data['Jahr'] || '';

                    document.getElementById('previewBildText').value = data.Bild || '';
                    // Set image source and log it
                    const previewCoverBild = document.getElementById('previewCoverBild');

                    // appending a timestemp to the image url to prevent caching
                    const timestamp = new Date().getTime();
                    previewCoverBild.src = "{{ url_for('static', filename='tempCover.png') }}" + '?t=' + timestamp;

                    // making the url clickable
                    const previewUrl = document.getElementById('previewUrl');
                    previewUrl.innerText = data.Url || '';
                    previewUrl.href = data.Url || '#';

                    // Show the modal
                    $('#bookPreviewModal').modal('show');
                }
            })
            .catch(error => {
                loadingSpinner.style.display = 'none';
                console.error('Error fetching book data:', error);
            });
        }
    });

    document.querySelectorAll('#confirmBookData, #confirmBookDataFooter').forEach(button => {
        button.addEventListener('click', function() {
            // Copy data from preview modal to form
            document.getElementById('titel').value = document.getElementById('previewTitel').value;
            document.getElementById('autor').value = document.getElementById('previewAutor').value;
            document.getElementById('genre').value = document.getElementById('previewGenre').value;
            document.getElementById('verlag').value = document.getElementById('previewVerlag').value;

            document.getElementById('isbn').value = document.getElementById('previewISBN13').value;
            if (!document.getElementById('isbn').value) {
                document.getElementById('isbn').value = document.getElementById('previewISBN10').value;
            }

            document.getElementById('url').textContent = document.getElementById('previewUrl').innerText;

            document.getElementById('preis').value = document.getElementById('previewPreis').value;
            document.getElementById('jahr').value = document.getElementById('previewJahr').value;
            document.getElementById('format').value = document.getElementById('previewFormat').value;
            document.getElementById('seiten').value = document.getElementById('previewSeiten').value;
            document.getElementById('inhaltsangabe').value = document.getElementById('previewInhaltsangabe').value;
            document.getElementById('auflage').value = document.getElementById('previewAuflage').value;

            document.getElementById('bildCover').src = document.getElementById('previewCoverBild').src;
            document.getElementById('bildName').value = document.getElementById('previewBildText').value;

            // Hide modal
            $('#bookPreviewModal').modal('hide');
        }
    );
    });

    document.querySelectorAll('.close').forEach(function(btn) {
        btn.addEventListener('click', function () {
            document.getElementById('bookPreviewModal').classList.remove('show');
            document.getElementById('bookPreviewModal').style.display = 'none';
            document.body.classList.remove('modal-open');
            document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());
        });
    });

    document.getElementById('bildCoverInput').addEventListener('change', function(event) {
        console.log('Image file selected:', event.target.files[0]);
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('bildCover').src = e.target.result;
                document.getElementById('bildName').value = file.name;
            };
            reader.readAsDataURL(file);
        }
    });


    document.getElementById('clearButton').addEventListener('click', function(e) {
        e.preventDefault(); // Prevent form submission
        const form = this.closest('form');
        if (form) {
            form.reset();
        }
        // Clear image preview if needed
        document.getElementById('bildCover').src = "{{ url_for('static', filename=cover_filename) }}";
    });

</script>
{% endblock %}
