{% extends "base.html" %}
{% block title %}Buch Ansicht{% endblock %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}

<h1>Buch:</h1>
<div class="container details-container">

    <!-- Start of the form -->
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
         <div class="row">
            <a href="{{ url_for('books.index') }}" class="btn btn-secondary" id="back">Zurück zur Übersicht</a>
         </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" id="isbn" name="isbn" value="{{ form.isbn.data or '' }}" placeholder="Keine ISBN hinterlegt">

            <div id="loadingSpinner" class=" spinner-border text-primary" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="titel" class="col-md-4">Titel</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="titel" name="titel" rows="5" placeholder="Es muss ein Titel eingegeben werden!">{{ form.titel.data or '' }}</textarea>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="bild" class="col-md-4">Bild</label>
                <div class="col-md-8">
                    <img id="bildCover" src="{{ url_for('static', filename='cover/' ~ cover_filename) }}" alt="Book Image" class="img-fluid mb-2">
                    <div class="mb-1">
                        <input type="text" class="form-control" id="bild" name="bild" value="{{ form.bild.data or '' }}" placeholder="Bild Name">
                    </div>
                    <div class="mb-1">
                        <input type="file" class="form-control form-control-sm pb-1" id="bildCoverInput" name="bildCoverInput" accept="image/*">
                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="autor" class="col-md-4">Autor*</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="autor" name="autor" value="{{ form.autor.data or '' }}" placeholder="Es muss ein Autor eingegeben werden!">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="genre" class="col-md-4">Genre</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="genre" name="genre" value="{{ form.genre.data or '' }}" placeholder="Kein Genre hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="format" class="col-md-4">Format</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="format" name="format" value="{{ form.format.data or '' }}" placeholder="Kein Format hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="verlag" class="col-md-4">Verlag</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="verlag" name="verlag" value="{{ form.verlag.data or '' }}" placeholder="Kein Verlag hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="seiten" class="col-md-4">Seiten Anzahl</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="seiten" name="seiten" value="{{ form.seiten.data or '' }}" placeholder="Keine Seiten Anzahl hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="preis" class="col-md-4">Preis</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="preis" name="preis" step="0.01" value="{{ form.preis.data or '' }}" placeholder="Kein Preis hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="jahr" class="col-md-4">Erscheinungsjahr</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="jahr" name="jahr" value="{{ form.jahr.data or '' }}" placeholder="Kein Erscheinungsjahr hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="standort" class="col-md-4">Standort</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="standort" name="standort" value="{{ form.standort.data or '' }}" placeholder="Kein Standort hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="subtitel" class="col-md-4">Subtitel</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="subtitel" name="subtitel" value="{{ form.subtitel.data or '' }}" placeholder="Kein Subtitel hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="subgenreRomane" class="col-md-4">Subgenre Romane</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="subgenreRomane" name="subgenreRomane" value="{{ form.subgenreRomane.data or '' }}" placeholder="Kein Subgenre Romane hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="subgenreSachbuchRatgeber" class="col-md-4">Subgenre Sachbuch/Ratgeber</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="subgenreSachbuchRatgeber" name="subgenreSachbuchRatgeber" value="{{ form.subgenreSachbuchRatgeber.data or '' }}" placeholder="Kein Subgenre Sachbuch/Ratgeber hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="subgenreRatgeber" class="col-md-4">Subgenre Ratgeber</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="subgenreRatgeber" name="subgenreRatgeber" value="{{ form.subgenreRatgeber.data or '' }}" placeholder="Kein Subgenre Ratgeber hinterlegt">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mb-3">
                <label for="auflage" class="col-md-4">Auflage</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="auflage" name="auflage" value="{{ form.auflage.data or '' }}" placeholder="Keine Auflage hinterlegt">
                </div>
            </div>

            <div class="col-md-6 mb-3">
                    <label for="schlagw" class="form-label">Schlagwort</label>
                    <input type="text" class="form-control" id="schlagw" name="schlagw" value="{{ form.schlagw.data or '' }}" placeholder="Kein Schlagwort hinterlegt">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="bemerkungen" class="form-label">Bemerkungen</label>
                    <textarea class="form-control" id="bemerkungen" name="bemerkungen" rows="5" placeholder="Keine Bemerkungen hinterlegt" value="{{ form.bemerkungen.data or '' }}"></textarea>
                </div>
            <div class="col-md-6 mb-3">
                <label for="inhaltsangabe" class="form-label">Inhaltsangabe</label>
                    <textarea class="form-control" id="inhaltsangabe" name="inhaltsangabe" rows="5" placeholder="Keine Inhaltsangabe hinterlegt">{{ form.inhaltsangabe.data or '' }}</textarea>

            </div>

            <div class="row mt-3">
                <div class="form-group col-6">
                    <button type="Einfügen" class="btn btn-primary btn-block">Buch ändern</button>
                </div>
                <div class="form-group col-6">
                    <button class="btn btn-warn btn-block" onclick="deleteBook( {{ book['nummer'] }} )">Löschen</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">

    function deleteBook(nr) {
        console.log("Book delete: ", nr);
        fetch('{{ url_for("books.book_delete", nummer="") }}' + nr, {
            method: 'DELETE'
        }).then(response => {
            return response.json().then(data => ({status: response.status, body: data}));
        }).then(({status, body}) => {
            if (status === 200) {
                alert(body.message);
            } else {
                alert(body.error);
            }
        }).catch(error => {
            console.error('Error during fetching: ', error);
        });
    }

</script>

{% endblock %}