.dataTables_filter {
    float: left !important;
}


.component {
    background-color: lightgray;
}

body{
    margin: 5%;
}

.content {
    margin: 10%;
    background-color: white;
}

.custom-navbar {
    background-color: #4c6c42;

}


.navbar-brand-icon{
    height: 1.5rem;
    margin-right: 1rem;
}

#mynavbar .navbar-nav .nav-link {
    color: white;
}

#mynavbar .navbar-nav .nav-link:hover, .nav-link:focus, .nav-link:active{
    color: #b5c4ab ;
}


h1 {
    margin-bottom: 24px !important;
}

.btn-primary {
    background-color: #2e5f40 !important;
    border: none !important;
    float: right;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
     background-color:#3f8a5b!important;
}

.btn-secondary {
    background-color: #b7924a!important;
    border: none !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
     background-color:#ddc166!important;
     border: none !important;
}

.btn-gruppe {
    color: #f0efeb;
    border-radius: 10em;
    border-width: 0.2em;
}

.submit-button:hover {
    text-decoration: underline;
}


#coverBild, #previewCoverBild {
       max-width: 100px;
       max-height: 150px;
       width: auto;
       height: auto;
       display: block;
       margin-top: 8px;
}

.jumbotron {
    background-color: #e4e3e0 !important;
}

#add-book-button {
    float: end;
    font-size: large;

}


.jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;
}

/*#fetchBookData{
    background-color: #b5c4ab;
}*/