/*general*/
h1 {
    margin-bottom: 24px !important;
}

.component {
    background-color: lightgray;
}

.content {
    margin: 10%;
    background-color: white;
}

.form-group {
    margin-bottom: 1rem;
}

/*nav bar*/
.custom-navbar {
    background-color: rgb(76, 108, 66);

}

.navbar-brand-icon{
    height: 1.5rem;
    margin-right: 1rem;
}

#mynavbar .navbar-nav .nav-link {
    color: white;
}

#mynavbar .navbar-nav .nav-link:hover, .nav-link:focus, .nav-link:active{
    color: #b5c4ab ;
}

.dropdown-menu{
    --bs-dropdown-link-active-bg: #f7e097;
    --bs-dropdown-link-active-color: #000;
}


/*buttons*/
.btn-primary {
    background-color: #2e5f40 !important;
    border: none !important;
    float: right;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
     background-color:#3f8a5b!important;
}

.btn-secondary{
    background-color: white;
    color:  #2e5f40; 
    border-color:  #2e5f40;
    border-width: 3px;
    float: right;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #b5c4ab;
    border-color:  #b5c4ab;
}    

.btn-warn {
    background-color: #b7924a;
    border: none;
    color: white;
}
.btn-warn:hover,
.btn-warn:focus,
.btn-warn:active {
     background-color:#ddc166;
     border: none ;
     color: white;

}

.btn-gruppe {
    color: #f0efeb;
    border-radius: 10em;
    border-width: 0.2em;
}

.submit-button:hover {
    text-decoration: underline;
}

#back{
    width:30%;
}

/*add button on the home page*/
.add-button {
  width: 70px;
  height: 70px;
  padding: 0;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*add button on the book.add page*/
#add-book-button {
    float: end;
    font-size: large;
}

/*einloggen button on login page*/
#submit{
    margin-top: 1.5rem;
}

/*change focus ring colour for tab navigation*/
.btn-primary:focus,
.btn-primary:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.25rem #43a71c80 !important; 
}

#coverBild, #previewCoverBild #bildCover{
       max-width: 200px;
       max-height: 250px;
       width: auto;
       height: auto;
       display: block;
       margin-top: 8px;
}

#coverview{
       max-width: 300px;
       max-height: 350px;
       width: auto;
       height: auto;
       display: block;
       margin-top: 8px;
}

.new-data {
    background-color: #e7e7e7 !important;
    padding-top: 5%;
    padding-bottom: 7%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;

}

.card{
    margin-bottom: 36px;
}
.card-text{
    margin-top: 24px;
}
.overview-home-button{
    width: 70%;
    margin: 0 auto;
}

/*styling for overview tables*/
.title-table a{
    color: #2e5f40;
}

.table-nr a{
    color: #2e5f40;
}

.dataTables_filter {
    float: left !important;
}

.pagination {
  --bs-pagination-color: #3f8a5b;
  --bs-pagination-active-bg: #3f8a5b;
  --bs-pagination-active-border-color: #2e5f40;

  --bs-pagination-hover-color: #1AA845;
  --bs-pagination-focus-color: #1AA845;
}

/*alert*/
.alert{
    background-color: #ceeaee;
    border-bottom-color: #90b1b6;
    border-left-color: #90b1b6;
    border-top-color: #90b1b6;
    border-right-color: #90b1b6;
}

.btn-info{
    color: white;
    background-color:#537B7F;
    border: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
   background-color:#6bc1c9;
}

/*styling the isbn search*/
.modal-dialog{
    margin: 10%;
}

.modal-body{
    padding: 32px;
}
.modal-title{
    margin-right: 1rem;
    font-size: 20px;
}
