<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
    <title>{% block title %}Default{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/style.css">
</head>

<body>
    <div>
        <a class="btn btn-primary btn-lg" href=" {{ url_for('index') }} ">Home</a>
        <a class="btn btn-primary btn-lg" href=" {{ url_for('login_site') }} ">Login</a>
        <a class="btn btn-primary btn-lg" href=" {{ url_for('logout') }} ">Logout</a>
        <a class="btn btn-primary btn-lg" href=" {{ url_for('signup_site') }} ">Signup</a>
    </div>
    {% block content %}{% endblock %}
</body>

</html>